language: php
php:
  - 5.4
before_install:
  - cd vagrant/
  - openssl aes-256-cbc -K $encrypted_86dcbc7bb720_key -iv $encrypted_86dcbc7bb720_iv -in config.yaml.enc -out config.yaml -d
install:
  - sudo apt-get install -q virtualbox --fix-missing # Everything falls apart here exactly.
  - sudo wget -nv http://files.vagrantup.com/packages/7e400d00a3c5a0fdf2809c8b5001a035415a607b/vagrant_1.2.2_x86_64.deb
  - sudo dpkg -i vagrant_1.2.2_x86_64.deb
  - sudo vagrant plugin install vagrant-plugin-bundler
  - sudo vagrant plugin install vagrant-aws
  - sudo vagrant box add dummy https://github.com/mitchellh/vagrant-aws/raw/master/dummy.box
script:
  - cd vagrant/
  - sudo vagrant up --provider=aws
after_script:
  - sudo vagrant halt
  - sudo vagrant destroy